body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0022ff, #0055ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  text-align: center;
  color: white;
  position: relative;
}

.characters {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card {
  background-color: #0044ff;
  padding: 40px 60px;
  border-radius: 20px;
  font-size: 22px;
  margin-left: 60px;
  color: white;
  text-align: center;
  box-shadow: 0 5px 15px rgb(255, 255, 255, 0.4);
  z-index: 2;
  position: relative;
}
.character {
  height: 170px;
  width: auto;
  z-index: 1;
}

.character-left {
  margin-right: -40px; /* Подгоняем, чтобы выглядело натурально */
}

.character-right {
  margin-left: -35px;
}

.next-button {
  margin-top: 15px;
  padding: 15px 30px;
  font-size: 18px;
  margin-left: 5px;
  background-color: #ff0062;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgb(255, 255, 255, 0.5);
}

.next-button:hover {
  background-color: #ff0062;
}

.info-block {
  position: fixed; /* Исправляем на фиксированное позиционирование */
  top: 5%;         /* Точный отступ сверху */
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 25%;      /* Оптимальная ширина для контента */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3); /* Нежный фон */
  border: 2px solid #fff;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 20px;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
  z-index: 1000;   /* Устанавливаем приоритет отображения */
}
.info-dev {
  position: fixed; /* Исправляем на фиксированное позиционирование */
  top: 65%;         /* Точный отступ сверху */
  left: 30%;
  right: 30%;
  transform: translateX(75%);
  width: 15%;      /* Оптимальная ширина для контента */
  padding: 10px;
  background-color: rgba(68, 0, 255, 0.3); /* Нежный фон */
  border: 2px solid #8c00ff;
  border-radius: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  box-shadow: 0 5px 15px rgb(0, 81, 255);
  z-index: 1000;   /* Устанавливаем приоритет отображения */
}
.yes-button {
  margin-top: 15px;
  padding: 15px 30px;
  font-size: 18px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 255, 0, 0.5);
}

.yes-button:hover {
  background-color: #218838;
}
